<!DOCTYPE html>
<html>
    <head>
        <title>09 Prove : Assignment - Postal Rate Calculator</title>
    </head>

    <body>
        <h1>Postal Rate Calculator Results</h2>

        <div class="container">
            <% if (typeof rate !== 'undefined') { %> 
            <h2>Resulting rate of <%- weight %> ounce <%- type %>
                <% if (type == 'First-Class Package Service—Retail') { %> in Zone <%- zone %><% } %>: $<%- rate %></h2>
            <a class="btn" href="/prove09">Try another</a>
            <% } %>

            <% if (typeof error !== 'undefined') { %> 
            <h2><%- error %></h2>
            <a class="btn" href="/prove09">Try again</a>
            <% } %>
        </div>
    </body>
</html>